<body>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>

    <h1><%= @user.username %> </h1>

<dl>
  <dt>
    ID
  </dt>
  <dd>
    <%= @user.id %>
  </dd>


  <dt>
    Delete User
  </dt>
  <dd>
    <a href="/delete_user/<%= @user.id%>">
      Delete this user
    </a>
  </dd>




  <dt>
    Edit user
  </dt>
  <dd>
    <form action="/update_user/<%= @user.id %>" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" value="<%= @user.username %>">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (<%= @user.own_photos.count %>) </h2>

<table border="1">
  <tbody><tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>

  </tr>
    <% user_photos = @user.own_photos%>
    <% user_photos.each do |up| %>
    <tr>
     
      <td> 
         <img src= <%= up.image%> height="300px">
      </td>

      <td>
         <%= up.poster.username%>
      </td>

      <td>
        <%= up.caption%>
      </td>
       
      <td>
        <%= up.created_at%>
      </td>
     
      <td>
        <a href="/photos/<%= up.id %>">
          Show details
        </a>
      </td>

    </tr>
  <%end%>

</tbody></table>

  

</body>
